body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: sans-serif;
  text-align: center;
  color: #6b6969;
}

.bar {
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border: 2px solid #e9def9;
  border-radius: 5px;
  padding: 30px;
}

button {
  width: 50px;
  height: 50px;
  background-color: #9c6cca;
  border: none;
  border-radius: 5px;
  color: #fff;
  font-size: 24px;
  cursor: pointer;
}
